@media screen and (max-width: 767px) {



}


@media screen and (min-width: 768px) {
	.navbar-default {
    border: none;
    background: #fff;
    background: rgba(0, 0, 0, 0.9);
	}



}



@media screen and (-webkit-min-device-pixel-ratio: 0) {



}