@media screen and (max-width: 767px) {
	.navbar-default .navbar-nav > li > a {
		color: #fff;
		-webkit-transition: 0.5s;
		-moz-transition: 0.5s;
		transition: 0.5s;
	}
	.navbar-default .navbar-nav > li > a:hover,
	.navbar-default .navbar-nav > li > a:focus {
		color: red;
		background-color: transparent;
		-webkit-transition: 0.5s;
		-moz-transition: 0.5s;
		transition: 0.5s;
	}


}


@media screen and (min-width: 768px) {
	.navbar-default {
    border: none;
    background: #fff;
    background: rgba(0, 0, 0, 0.9);
	}
	



}



@media screen and (-webkit-min-device-pixel-ratio: 0) {



}